.is-loading {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 5;
  }
}

@media screen and (min-width: 1000px) {
  .svgContainer {
    margin: 0 auto;
    max-width: 870px;
    width: 870px;
  }
}

@media screen and (min-width: 1192px) {
  .svgContainer {
    max-width: 892px;
    width: 892px;
  }
}

@media screen and (min-width: 1384px) {
  .svgContainer {
    max-width: 1084px;
    width: 1084px;
  }
}
