$red: #fe2d5b;
$grey-darker: #424242;
$primary: $red;

@import "../node_modules/bulma/bulma.sass";

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
    width: 960px;
  }
  .container.is-fluid {
    margin: 0 20px;
    max-width: none;
    width: auto;
  }
}

@media screen and (min-width: 1192px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1384px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}
